
.jumbotron {
  background-color: none!important;
}
.h1-title {
  text-align: center;
}
.jumbotron #chatbox {
  height: 250px;
  border: 1px solid #495057;
  overflow-y: scroll;
}

.signin-to-msg {
  text-align: center;
}
.alert-alert {
  @extend.alert-danger
}

.alert-notice {
  @extend.alert-success
}

span .username{
  font-size: 500px;
  color: #eee;
}



@import '/*';
@import 'bootstrap';
@import 'tether';
